@import "./style.css";
html{
	font-size:62.5%;  /* 1rem  = 10px */
	scroll-behavior: smooth;
}
.app-wrapper {
  /* border:5px solid green;  */
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  display: flex;
}

/* ////////////// TOP BUTTON ////////////// */
#top-btn{
  height: fit-content;width: fit-content;
  padding: 1.5rem;
  border-radius: 50%;
  background: var(--secondary-dim);
  box-shadow: 0 5px 10px 0px rgba(0,0,0,15%);
  position: fixed;
  bottom: 30px; left:40px; 
  z-index: 99;  
  cursor: pointer;
  transition: all .5s ease;
  flex-shrink: 0;
}
#top-btn:hover{
  transform: translateY(-10px);
}
#top-btn.hide{
  bottom: -100px;
}


/* ////////////// SIDEBAR ////////////// */
#sidebar {
  background: white;
  position: sticky;
  top: 0;
  padding: 2.5rem;
  height: 100vh;
  width: 17%;
  min-width: 160px;
  overflow-y: scroll;
}
#sidebar .img-wrapper {
  background: var(--bg);
  border-radius: 5px;
  padding: 1rem;
  max-width: 200px;
  width:100%; 
}
#sidebar .img-wrapper img {
  display: block;
  max-width: 150px;
  width: 100%; height: 100%;
  object-fit: scale-down;
  margin: auto;
}
#sidebar .nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
#sidebar .nav-item a {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  border-radius: 5px 0 0 5px;
  padding: 0.5em 1em;
  border-right: 3px solid transparent;
}
#sidebar .nav-item a:hover {
  background: var(--bg);
  border-right: 3px solid var(--primary);
}
#sidebar .nav-item.active a {
  background: var(--bg);
  border-right: 3px solid var(--primary);
}

#sidebar .nav-item .icon-wrapper {
  width: 30px;
}
#sidebar .nav-item img.icon {
  height: 20px;
  width: 20px;
}

/* ////////////// MAIN CONTAINER ////////////// */
#main-container {
  /* border: 4px solid blue; */
  width: 83%;
  margin:0 auto; 
  flex-grow: 0;
  padding: 0 3%;
}
/* ////////////// HEADER ////////////// */

#header {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
}
/* #header.header-scroll{
  position: sticky; 
  top:0; 
  z-index: 1;
  padding: 1rem 0;
  background: var(--bg);
  box-shadow: 0 5px 10px 0px rgba(0,0,0,15%);
} */
#header .logo h3 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

/* #header .logo .arabic {
  letter-spacing: 1.5px;
} */
#header .logo .english {
  letter-spacing: .2px;
}
#header .button-group button {
  background: #fff;
  border: none;
  padding: 0.5em;
  font-family: "tajawal";
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 0.5rem;
  cursor: pointer;
}

/* ////////////// SECTION STYLE ////////////// */
#main-section section {
  margin-bottom: 8rem;
}
.section-title {
  letter-spacing: 2px;
  position: relative;
  width: fit-content;
  margin-bottom: 1.5rem;
  font-size:24px;
  /* yellow highlight  */
  background-image: linear-gradient(var(--secondary-dim) 0%, var(--secondary-dim) 100%);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;
  border-radius: 15px;
}
/* .section-title::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  background: var(--secondary-dim);
  right: 0;
  bottom: 5px;
  z-index: -80;
} */

/* ////////////// NEWS SECTION  ////////////// */
#news-section {
  width: 100%;
}


#news-section .news-cards {
  /* border:1px solid red; */
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  position: relative;

}
#news-section .shadow-mask{
  position: relative;
}
#news-section .shadow-mask::before{
    position: absolute;
    left:0px; 
    top:0;
    content:"";
    background-image: linear-gradient(to right, var(--bg)  ,#F4F7F700 );
    width:7%; height: 100%;
    z-index: 99;
}

#news-section .news-card {
  height: 280px;
  width: 500px;
  flex-shrink: 0;
  border-radius: 40px;
  /* background-image: var(--img-url); */
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: 2rem;
}
#news-section .news-card .overlay {
  height: 100%;
  width: 100%;
  background: var(--primary-trans);
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#news-section .news-card .news-title span {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  position: relative;
  /* add underline  */
  background-image: linear-gradient(var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;
  border-radius: 15px;
}

#news-section .modal-box{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  width:700px;
  max-width: 80%; 
  position:fixed;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  overflow: hidden;
  z-index: 100;
  display: none;
}

#news-section .modal-box header{
  display: flex;
  justify-content: space-between;
  padding : 1rem; 
  background: var(--bg);
}
#news-section .modal-box header h4{
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
#news-section .modal-box header .close-modal{
  font-size: 3rem;
  background: #fff;
  padding: 0 1rem;
  border-radius: 10px;
  cursor: pointer;
}
#news-section .modal-box main{
  max-height: 68vh;
  overflow-y: auto;
  text-align: center;
  padding:2rem 5rem; 
}
#news-section .modal-box main .img-holder{
  width:80%;
  height: 200px;
  border-radius: 5px;
  overflow:hidden; 
  margin: auto;

}
#news-section .modal-box main .img-holder img{
  width:100%; height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
#news-section .modal-box main .news-title{
  margin: 2rem auto;
}
#news-section .modal-box main .news-body{
  font-size: 18px;
  color: var(--text-2)
}
#news-section .modal-box .cta{
  background: var(--secondary-dim);
  text-align: center;
  padding:1rem;
  font-weight: 600;
  cursor: pointer; 
}
#news-section .modal-box .cta:hover{
  background: var(--secondary);
  color: #fff; 
}
#news-section .modal-overlay{
  position: fixed;
  top:0; right: 0; bottom: 0; left:0;
  background: rgba(0,0,0,.5);
  z-index: 99;
  display: none;
}
#news-section .modal-overlay.active, #news-section .modal-box.active{
  display: block;

} 


#news-section .news-card .read-more {
  background: #fff;
  border: none;
  font-family: "tajawal";
  font-weight: 600;
  width: fit-content;
  padding: 0.25em;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

/* ////////////// TODAY SECTION ////////////// */
#today-section .today{
    background: #fff;
    padding:3rem 3rem; 
    display:flex;
    justify-content: center;
}
#today-section .today >div{
  margin: 0 1.5rem; 
}
#today-section .today .text{
    color: var(--primary); 
    /* font-weight: 600; */
    font-size: 24px;
    background: var(--primary-dim);
    padding:.25em .5em; 
    border-radius: 5px;
}
#today-section .today div.line{
    background: var(--primary);
    width: 1px;
    border-radius: 50%;

}

/* ////////////// LINKS SECTION ////////////// */
#links-section .link-cards{
    /* border: 2px solid red; */
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
}
#links-section .link-cards a,
#links-section .link-cards > div
{width: fit-content;}
#links-section .link-card{
    background: #fff;
    width: 200px; height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    transition: all .4s ease;

}
#links-section .link-card:hover{
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}
#links-section .link-card .link-img{
  /* border:1px solid red; */
  height: 100%; width:100%;
  overflow: hidden;
  

  
}
#links-section .link-card img{
    display: block;

    width:100px;
  	position: relative; 
	  right:50%; top:50%;
    transform:translateX(50%)translateY(-50%);
    transition: all 1s ease;
}
#links-section .link-card:hover img{
  transform: translateX(50%)translateY(-50%) scale(1.15);
}
#links-section .link-card .link-title{
    color:var(--primary); 
    background: var(--primary-dim);
    width: 100%; height: 60px;
    text-align: center;
    padding:.5em;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#links-section .link-card .name{
    color: var(--primary);
    font-size: 22px;
}
#links-section .link-card #arrow{
    background: #fff;
    /* transform: scale(-1); */
    color:var(--primary); 
    padding: 5px; 
    width:20px; 
    height: 20px;



}
#links-section .link-card #arrow img{
    height: 100%; width: 100%;
    object-fit: contain;
}



/* ////////////// INFO SECTION  ////////////// */
#info-section .info-wrapper{
  display: flex;
}
#info-section .msg-wrapper{
  background: #fff;
  box-shadow: 11px 11px 0 0 var(--primary-dim);
  padding:3rem;
  position: relative;
  border-top: 5px solid var(--primary);
 border-radius: 10px;
 /* width:900px;  */
}
#info-section .msg-wrapper::before{
  position: absolute;
  content:"";
  background: transparent;
  width: 0px; height: 0px;
  top:-40px; right:50px; 
  border:20px solid transparent; 
  border-bottom:20px solid var(--primary);
   


}
#info-section .msg-wrapper .title{
  color: var(--primary);
  font-size:24px; 
  margin-bottom: 2rem;
  width: fit-content;
  /* add an underline  */
  background-image: linear-gradient(var(--primary-dim) 0%, var(--primary-dim) 100%);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: 0 70%;
  transition: background-size 0.25s ease-in;
  border-radius: 15px;
  
}
#info-section .msg-wrapper .body{
  color: var(--primary);
  font-size:22px; 

}
#info-section .img-wrapper{
   flex-basis:25%;
   flex-shrink: 0;
   margin-right: 5rem;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 11px 11px 0 0 var(--primary-dim);
   border-top: 5px solid var(--primary);
}
#info-section .img-wrapper img{
  width:100%; height: 100%;
  object-fit: cover;
}

/* ////////////// MEDIA QUERIES  ////////////// */
@media screen and (max-width:1130px){
  #links-section .link-cards{
  grid-template-columns: auto  auto auto;
  }

}
@media screen and (max-width:900px){
  #links-section .link-cards{
  grid-template-columns: auto  auto ;
  }
  #info-section .info-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #info-section .img-wrapper{

    margin-right: 0rem;
  }
}
@media screen and (max-width:670px){
  .app-wrapper{
    flex-direction: column;
  }
  #links-section .link-cards{
    grid-template-columns:    auto;
  }
  #sidebar {
    
    position: sticky;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: auto;
    width: 100%; 
    align-items: center;
  }
  #sidebar .img-wrapper {
    height: 100%;
    padding: 0;
  }
  #sidebar .img-wrapper img {
    object-fit: fill;
    
  }
  #sidebar .nav-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
  }
  #sidebar .nav-list .tab-title{
    display: none;
  }
  #sidebar .img-wrapper {
    
    padding: 5px;
    max-width: 200px;
    width:50px; 
  }
  #sidebar .img-wrapper img {
    display: block;
    max-width: 150px;
    width: 100%; height: 100%;
    object-fit: scale-down;
    margin: auto;
  }
  #sidebar .nav-list {
    margin-top: 0rem;
  }

  #sidebar .nav-item a {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    border-radius: 5px 5px 0 0 ;
    padding: .25em;
    border-bottom: 3px solid transparent;
  }
  #sidebar .nav-item a:hover {
    border-radius: none;
    border:none; 
    border-bottom: 3px solid var(--primary);
  }
  #sidebar .nav-item.active a {
    border-radius: none;

    border:none; 
    border-bottom: 3px solid var(--primary);
  }

  #sidebar .nav-item img.icon {
    display: block;
    margin: auto;
  }
  #header .button-group button{
    margin-bottom: 1rem;
  }
  #header .logo h3{
    font-size: 18px;
  }

  /* TODAY  */
  #today-section .today{
    flex-direction: column;
  }
  #today-section .today> div{
    text-align: center;
    margin-bottom: 1rem;
  }
}
