@import "./style.css";

.container{
    margin: auto; 
    width:95%; 
    max-width: 700px;
    margin-top: 5vw;
}

.box{
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    background: #fff;
    border-radius: 10px;
    padding: 2rem; 
}
.top-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.top-box .title{
    flex-grow: 0;
    flex-basis: 75%;
}
.top-box input[type='submit']{
    background: #f64f59;
    font-family: 'Tajawal', sans-serif;	
    font-weight: 600;
    font-size: 18px;
    padding:.5em; 
    border:none; 
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-box{
    text-align: center;
}

.bottom-box .body-text{
    font-size: 16px;
    padding-top: 2rem;
}