@import "./index.css";
@font-face {
	font-family: "tajawal";
	src: url("./fonts/Tajawal-Regular.ttf") format("truetype") font-weight-normal,
	 url("./fonts/Tajawal-Bold.ttf") format("truetype") font-weight-bold,
	 url("./fonts/Tajawal-ExtraBold.ttf") format("truetype") font-weight-bolder,
	;
}

/* COLORS */
:root{
	--bg: #F4F7F7;
	--primary:rgba(20, 114, 110, 1); 
	--primary-dim: #E5F3F3; 
	--primary-trans:rgba(20, 114, 110, 0.60); 
    --box: #dbdbdb; 
	--secondary: #A17E3F; 
	--secondary-dim:#fdf3e3; 
    --text-2: #0C413F; 
}
/* RESETTING */
*,*::before,*::after{
	padding:0;
	margin:0;
	box-sizing: border-box;
	list-style: none;      /* remove bullet point from lists */
	text-decoration:none; /* remove underline from <a> */
	color: var(--secondary); 
}

html{
	font-size:62.5%;  /* 1rem  = 10px */
	scroll-behavior: smooth;
}

body{
	font-family: 'Tajawal', sans-serif;	font-weight: 400;
	background: var(--bg); 
	font-size: 18px;

}

/* TYPOGRAPHY  */
h1{font-size:32px;}
h2{font-size:28px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
p{font-size: 14px;}




